{% extends 'admin.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="my-4 text-center">Photographers List</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Email</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ user.email }}</td>
                            <td class="td_action">
                                <a
                                  href="{% url 'edit_user' user.id %}"
                                  class="btn btn-primary btn-sm"
                                  >Edit</a
                                >
                
                                <a
                                  href="{% url 'delete_user' user.id %}"
                                  type="submit"
                                  class="btn btn-danger btn-sm"
                                  >Delete</a
                                >
                                <a href="{% url 'photographer_info' user.id %}" class="btn btn-info btn-sm">View Info</a> 
                              </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .table-responsive {
        margin-top: 20px;
    }
    .table th, .table td {
        text-align: center;
    }
</style>

{% endblock content %}
