{% extends 'base.html' %}
  {% load static %}
  {% load custom_filters %}

{% block content %}
<div class="container">
  {% for messages in messages %}
  <h4 class="text-center" style="color: rgb(17, 179, 66)">{{ messages }}</h4>
  {% endfor %}
  <h2 class="my-4">Your ordered Packages</h2>
  <div style="overflow-x:auto;">
  <table class="table " style="margin-bottom:290px;">
    <thead>
      <tr>
        <th>Package Name</th>
        <th>Photographer Name</th>
        <th>Duration</th>
        <th>Price</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for hireIno in hireInfos %}
      <tr>
        <td>{{ hireIno.package.packageName }}</td>
        <td>{{ hireIno.package.photographerName }}</td>
        <td>{{ hireIno.package.duration }}</td>
        <td>{{ hireIno.package.price }} TK</td>
        {% if hireIno.status|is_equal:0 %}
        <td>Pending</td>
        {% elif hireIno.status|is_equal:1 %}
        <td style="color: rgb(12, 167, 74);">Approved</td>
        {% elif hireIno.status|is_equal:2 %}
        <td style="color: rgb(234, 36, 36);">Rejected</td>
        {% elif hireIno.status|is_equal:3 %}
        <td style="color: #1daa04;">Job Completed</td>
        {% else %}
        <td>Unknown</td>
        {% endif %}
        <td>
          {% if hireIno.status|is_equal:3 %}
          <button
            class="btn btn-primary "
            disabled
            type="button"
          >
            Complete
          </button>
          {% else %}
            <a href="{% url 'delete_package' hireIno.id %}" type="submit" class="btn btn-danger">Cancel</a>
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}
