<!-- client/templates/client/completed_job.html -->

{% extends 'photographer.html' %}
{% block content %}
<div class="container job_container mt-5">
    <h2>Complete Job</h2>
    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="credit" class="form-label">Package Price</label>
            {{ form.credit }}
            {% if form.errors.credit %}
            <div class="invalid-feedback">{{ form.errors.credit }}</div>
            {% endif %}
        </div>
        
        <div class="mb-3">
            <label for="debit" class="form-label">Expense Amount</label>
            {{ form.debit }}
            {% if form.errors.debit %}
            <div class="invalid-feedback">{{ form.errors.debit }}</div>
            {% endif %}
        </div>
        <div class="text-center">

            <button type="submit" class="btn btn-primary ">Complete</button>
        </div>
    </form>
</div>
{% endblock %}
